.main{
    margin: 40px 40px 0px;
}

.center{
    display: flex;
    text-align: middle;
    justify-content: center;
}

.box_row{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 3px solid black;
    border-radius: 15px;
}

.backgorund_color{
    background-color: b_c;
}