<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="Body">
        <div class="Navbar">
            <a href="">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>
        <h1>About Me</h1>
        <div class="wrapper">
            <div class="left">
                <img src="" alt="">
                <p>Hiago Garcia</p>
                <p>I like stuff!</p>
            </div>
            <div class="right">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit voluptates eveniet quibusdam
                    repellat, nostrum voluptatibus maiores ratione! Optio, quos voluptate, iste corrupti doloribus ipsam
                    tenetur, ratione neque molestiae tempore officiis.</p>
            </div>
        </div>
    </div>
</body>

</html>