h1{
    color: white;
    background-color: black;
    font-family: cursive;
}
.cyan{
    color: cyan;
}
h2{
    color: white;
    font-style: italic;
    background-color: mediumslateblue;
    text-align: center;
}
h3{
    background-color: skyblue;
    text-decoration: underline;
    text-align: right;
}