@model Product

<div class="container">
    <div class="text-center">
        <h2>Products | <a href="/">Categories</a></h2>
        <hr>
        <div class="row mt-5">
            <div class="col-md">
                <partial name = "_NewProduct"></partial>
            </div>
            <div class="col-md">
                <partial name = "_ExistingProducts"></partial>
            </div>
        </div>
    </div>
</div>